<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Coffee
    </mat-panel-title>
    <mat-panel-description>
      What are you tasting?
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="formFieldsContainer">
    <mat-form-field class="formField">
      <mat-label>Name</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field class="formField">
      <mat-label>Roaster</mat-label>
      <input matInput />
    </mat-form-field>

    <div class="formField">
      <label class="roastRadioButtonLabel">Roast</label>
      <mat-radio-group>
        <mat-radio-button value="light">Light</mat-radio-button>
        <mat-radio-button value="medium">Medium</mat-radio-button>
        <mat-radio-button value="dark">Dark</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="formField">
      <mat-form-field>
        <mat-label>Tasting Notes</mat-label>
        <input matInput [formControl]="tastingNote" />
      </mat-form-field>
      <button
        mat-icon-button
        (click)="addTastingNote()"
        [disabled]="!tastingNote.value"
      >
        <mat-icon>add</mat-icon>
      </button>
      <mat-chip-list>
        <mat-chip
          *ngFor="let tastingNote of tastingNoteList; index as i"
          (removed)="removeTastingNote(i)"
        >
          {{ tastingNote }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</mat-expansion-panel>
