<div class="coffee-list">
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
  <app-coffee-preview></app-coffee-preview>
</div>
