<mat-card class="card">
  <mat-card-title class="card-title">
    <div>{{ coffee.name }}</div>
    <button mat-icon-button [routerLink]="'/coffee/' + coffee.id">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>{{ coffee.roaster }}</mat-card-subtitle>
  <mat-card-actions>
    <mat-chip-list>
      <mat-chip *ngFor="let descriptor of coffee.tastingNotes">
        {{ descriptor }}
      </mat-chip>
      <mat-chip class="roast-chip">{{ coffee.roast }}</mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>
